/node_modules
/dist
/.agent
/.agents
/.mastra
tars.db
tars.db-shm
tars.db-wal
pnpm-lock.yaml
.env
.DS_Store
skills-lock.json
*.db
*.db-shm
*.db-wal
/public/.agents
*.log
*.png
!public/**/*.png
pnpm-workspace.yaml
.env.development
